body, html {
  height: 100%;
  overflow-y: hidden; 
}

.dashboard-wrapper {
  height: 100vh;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
}

.dashboard-container {
  flex: 1;
  padding: 20px;
  background-color: #FCFCFC;
}

.dashboard-title {
  margin-bottom: 30px;
  font-weight: 600;
  border-bottom: 2px solid #495057;
  padding-bottom: 10px;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap:20px;
  margin-bottom: 30px;
}

.stat-card {
  background: #F5F5F5 ;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.stat-card:hover {
  transform: translate(0, -5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.stat-icon {
  font-size: 2rem;
  margin-right: 20px;
  color: #00704A;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(32, 201, 151, 0.1)
}

.stat-content h3 {
  margin: 0 0 5px 0;
  color: #1A1A1A;
  font-size: 1rem;
}

.stat-content p {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 700;
  color: #333;
}

.recent-orders-card {
  background: #F5F5F5 ;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.recent-orders-title {
  color: #1A1A1A;
  margin-top: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.orders-table-container {
  max-height: calc(100vh - 300px);
  overflow-x: auto;
  overflow-y: auto;
  display: flex;  
}

.orders-table {
  width: 100%;
  margin-top: 15px;
  border-collapse: collapse;
}

.orders-table th {
  background-color: #EFEFEF;
  color: #333;
  padding: 12px 15px;
  text-align: left;
  font-weight: 600;
}

.orders-table td {
  padding: 12px 15px;
  border-bottom: 1px solid #E0E0E0;
  color: #333;
}

.order-table tr:hover {
  background-color: #495057;
}

.dashboard-loading, .dash-error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #f8f9fa;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .stats-grid {
    grid-template-columns: 1fr
  }

  .stat-card {
    flex-direction: column;
    text-align: center;
  }

  .stat-icon {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

