.login-background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EFEFEF;
  background-size: cover;
  background-position: center
}

.login-card {
  background-color: white;
  width: 100%;
  max-width: 480px;
  border: none;
  padding: 20px;
  border: 1px solid #D9D9D9;
  border-radius: 12px;        
}

.card-body {
  padding: 2rem;
}