.orders-history-container {
  padding: 20px;
  height: calc(100vh - 5rem);
  box-sizing: border-box;
  background-color: #2c3335
}

.orders-history-container h2 {
  color: #343a40;
  font-weight: 600;
}


.table-responsive {
  margin-top: 20px;
  max-height: calc(100vh - 8rem);
  overflow-x: auto;
  overflow-y: auto;
}

.table th {
  font-weight: 600;
  position: sticky;      /* 粘性定位 */
  top: 0;

}

.table td {
  vertical-align: middle;
}

.badge {
  font-size: 0.85em;
  padding: 5px 8px;
}

@media (max-width: 768px) {
  .table-responsive {
    overflow-x: auto;
    overflow-y: auto;
  }
  .table td, table th {
      white-space: nowrap;
  }    
}