.item-image {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border: 3px solid white;
}

.list-item-card {
  background-color: #D9EDE6; 
  border: 1px solid #F3F9F6; 
  border-radius: 8px;
  margin-bottom: 12px;
}